 * {
   box-sizing: border-box;
   font-family: monospace, Helvetica, sans-serif;
 }

 div,
 section {
   margin: 0;
   margin: 0;
   padding: 0;
 }



 a {
   text-decoration: none;
   color: inherit;

 }

 li a:hover {
   color: black;

 }

 .projects-container a:hover {
   color: black;
 }

 ul {
   list-style: none;
 }



 body {
   font-family: Arial, Helvetica, sans-serif,
     sans-serif;
   font-size: 20px;
   color: #444;
   /* text-align: center; */
   line-height: 1.5;
 }

 nav,
 footer {
   padding: 1% 0;
   background-color: #FF6542;
   color: white;

 }

 nav {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 10;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 5%;
 }

 nav h2 {
   font-size: 1.5em;
 }

 nav ul {
   display: flex;
   flex-direction: column;
   justify-content: center;
   ;
 }

 nav li {
   margin-right: 20px;
 }

 header {
   padding: 12% 5%;
   margin-bottom: 40px;
   padding-left: 15%;
 }

 .top-space {
   min-height: 110px;
   margin-top: -8px;
 }

 section {
   min-height: 200px;
 }

 .projects {
   margin: 0;
 }

 .projects-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
 }

 .projects-container img {
   width: 100%;
   max-width: 400px;
   border: 2px solid black;
 }

 .projects-container h2 {
   margin-bottom: 40px;
 }

 .project {
   margin: 30px 0;
   padding: 15px 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   min-width: 300px;
   max-width: 30%;
   background-color: #50A2A7;
   color: white;
 }


 .contact {
   margin-bottom: 30px;
   margin-top: 0px;
 }

 .contact-info {
   background-color: #50A2A7;
   color: white;
   padding: 10px;
   padding-left: 10%;
 }


 footer {
   padding: 10px;
   font-size: .8em;
 }

 main h2 {
   margin-left: 20%;
 }